@charset "UTF-8";

body {
    width: 980px;
}

header { 
    width: 100%;
    background-color: yellow;
    height: 100px;
    margin-bottom: 15px
}
section { 
    display: flex;
    flex-direction: row;
}
article {
    margin-right: 15px;
    background-color: green;
}
article img {
     float: left;
     margin: 5px;
     margin-right: 15px;
     
    }
aside {
    background-color: red;
}
footer {
    width: 100%;
    background-color: blue;
    height: 100px;
    margin-top: 15px}

@media screen and (max-width:780px)  {
    section {flex-direction: column;}
    article {margin-bottom: 15px; margin-right: 0;} 
}